@import "./components/bootstrap_reboot";
@import "./components/calculateSize";
@import "./components/breakpoints";

$color-principal: #00d185;
$color-secundario: #000f0a;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main--header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--logo {
    width: 50px;
    margin-right: 30px;
}

.header--title {
    font-size: 1.5rem;
    color: $color-principal;
    border-bottom: 4px solid $color-secundario;
}

.header--description {
    width: 100%;
    padding: 0 20px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.header--description p {
    max-width: 350px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 90%;
    max-width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $color-principal;
    border-radius: 1rem;
    color: white;
}

.box--title span {
    color: black;
    border-bottom: 4px solid white;
}

.box--title img {
    width: 50px;
}

.box--question {
    margin: 10px 0;
}

.box--form {
    display: flex;
    flex-direction: column;
}

.box--input {
    border: 4px solid $color-secundario;
    border-radius: 0.5rem;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.box--input:focus {
    outline: none;
}

.box--form label {
    margin-bottom: 5px;
}

.box--buttons button {
    border: none;
    padding: 10px;
    font-weight: bold;
    color: $color-principal;
    background-color: white;
    border-radius: 0.5rem;
    outline: none;
}

.box--buttons button:nth-child(1) {
    margin-right: 10px;
}

.box--form span {
    min-height: 31px;
    margin-top: 10px;
    background-color: white;
    color: $color-secundario;
    padding: 5px;
    border-radius: 0.5rem;
    text-align: center;
}